<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FodMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/fodmap.css">
  </head>
  <body>
    {% import "snippets/entries/sleep" as sleep %}

    {% block body %}
    {% endblock body %}
    <script src="/static/js/bundle.js" charset="utf-8"></script>
  </body>
</html>
